nav{
    display: flex;
    justify-content: end;
    padding: 27px 60px;
    ul{
        display: flex;
        align-items: center;
        gap: 33px;
        a{
            font-size: 20px;
            font-weight: 550;
            line-height: 29px;
            color: black;
        }
        .active{
            color: #FF6464;
        }
    }
    span{
        display: none;
    }
}

@media (max-width: 500px) {
    nav{
        padding-right: 30px;
        ul{
            display: none;
        }
        span{
            display: block;
            font-size: 30px;
        }
    }
}